<div class="instructions"><p>“There are a thousand thousand reasons to live this life, every one of them sufficient.”</p>

<p><font color="B22222"> ful </font>is an activity tracker modeled after the practice of mindfulness. It is designed to bring awareness to how you spend your time, while helping you to refine those practices which you most enjoy.</p>

<p>Return to the homepage and add a practice to get started.</div><br><br><br>

-Add javascript timer to mindfulness
-Make an about page
-Update all the images

---deploy to heroku
---Make it so data goes away when you sign out
---Change css for sign in views (devise views)

------increases to size stay constant when you switch pages
------link target number to expanding of bubbles


--center images
