<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<div class="timer">

<select class="time" value="0">
    <option value=null>SET TIMER</option>
    <option value="50">Three seconds</option>
    <option value="1000">One minute</option>
    <option value="2000">Two minutes</option>
    <option value="3000">Three minutes</option>
    <option value="5000">Five minutes</option>
    <option value="7000">Seven minutes</option>
    <option value="10000">Ten minutes</option>
    <option value="15000">Fifteen minutes</option>
    <option value="20000">Twenty minutes</option>
    <option value="30000">Thirty minutes</option>
</select>

<button class="timer-button" id="start">Start timer</button>

<button class="timer-button" id="stop">Stop timer</button>

</div>
