<h3><span class="top-button"><a href="/practices/new">add practice&#8314</a></span></h3>
    <div class="bubbles">
      –
      <img src="http://i.imgur.com/PLAS8Jv.gif">
      <h2><span>mindfulness</span></h2>
      +
    </div>
      <% @practices.each do |practice| %>
    <div class="bubbles">
      –
      <%= image_tag "#{practice.image}" %>
      <h2><span><%= link_to "#{practice.title}", practice_path(practice) %></span></h2>
      +
    </div>

 <% end %>

</ul>
