<h2>Practices<a href="/practices/new">(+)</a></h2>

<ul>

 <% @practices.each do |practice| %>
     <%= "#{practice.title}" %>
     <%= image_tag "#{practice.image}", class: "class-name"%>
     <%= link_to "edit", practice_path(practice) %>
 <% end %>

</ul>
