<h3>Practices<a href="/practices/new">(+)</a></h3>
  <% @practices.each do |practice| %>
    <div class="bubbles">
      <%= image_tag "#{practice.image}" %>
      <h2><span><%= "#{practice.title}" %></span></h2>
    </div>
     <!-- <%= link_to "edit", practice_path(practice) %> -->
 <% end %>

</ul>
