<h3><a href="/practices/new">add practice</a></h3>
  <% @practices.each do |practice| %>
    <div class="bubbles">–
      <%= image_tag "#{practice.image}" %>
      <h2><span><%= link_to "#{practice.title}", practice_path(practice) %></span></h2>+
    </div>

 <% end %>

</ul>
