// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  margin-bottom: 60px;
}

body{
  background: url("http://cdn.lightgalleries.net/4bd5ec0f44d0a/images/burma-2012-105-1.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: avenir;
  text-align: center;
  color: blanchedalmond;
  font-weight: bold;
}

h1 {
  color: black;
  font-size: 60px;
  background: rgba(178,34,34,.8);
  padding: 5px;
}

.bubbles {
  position: relative;
  text-align: center;
  display: inline;
  float: left;
  margin: 0 auto;
  background-size: contain;
  color: white;
}

.bubbles img{
  width: 100px;
  margin: 100px;
}

.labels {
  font-size: 10px;
  color: white;
  position: absolute;
  text-transform: lowercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  padding: 10px;
}

.labels span {
   padding:0 7px;
}

h3 {
  font-size: 20px;
  padding: 10px;
  color: white;
  padding: 10px;
}

.top-button{
  background-color: black;
  padding: 15px;
}

.user-info{
  font-size: 10px;
}

a {
  color: white;
}

.reflections{
  color: blanchedalmond;
  background: rgba(205, 133, 63, .5);
  margin: 0 10% 0 10%;
}

button{
  color: blanchedalmond;
  font-weight: bold;
  background: rgba(255, 250, 250, .4);
  border-radius: 10px;
  border: 1px solid rgb(178,34,34);
  margin-top: 50%;
}

.button-delete{
  background: #B22222;
  color: blanchedalmond;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-shadow: 2px 2px black;
  border: 1px solid rgb(178,34,34);
}

.instructions{
  margin: 0 25% 0 25%;
  padding: 20px 30px 20px 30px;
  text-align: justify;
  background: rgba(0,0,0,.5);
}

.home-text{
  font-size: 10px;
  margin: 0 17% 0 17%;
  padding: 10px 20px 10px 20px;
  text-align: center;
  background: rgba(0,0,0,.5);
}

.field{
  text-transform: lowercase;
}

ul{
    list-style-type: none;
}

h2{
  color: #B22222;
  background: rgba(255,250,250,.5);
  margin: 0 25% 0 25%;
}
