// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  background: url("https://farm8.staticflickr.com/7564/16023497187_3fb39febe2_c.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: avenir;
  color: white;
  font-size: 50px;
  text-align: center;
}
